<header class="w-full flex flex-row justify-between bg-lighter-brown pl-5 pr-10">
	<a href="/">
		<div class="flex flex-row justify-start items-center gap-2.5">
			<%- include("mascot.ejs") %>
				<h1 class="font-bold text-light-title text-[20px]">Cozy Shelf</h1>
		</div>
	</a>

	<div class="flex justify-center items-center">
		<ul class="flex flex-row gap-5 text-light-title">
			<li>
				<a class="hover:text-light-brown <%= currentHeaderTab ? (currentHeaderTab === 'home' ? 'font-bold' : '') : '' %>"
					href="/">Home</a>
			</li>
			<li>
				<a class="hover:text-light-brown <%=currentHeaderTab ? (currentHeaderTab === 'books' ? 'font-bold' : '' ) : '' %>"
					href="/books">Livros</a>
			</li>
			<li>
				<a class="hover:text-light-brown <%=currentHeaderTab ? (currentHeaderTab === 'registration' ? 'font-bold' : '' )
					: '' %>" href="/clients/register" aria-disabled="true" tabindex="-1" role="button">Cadastre-se</a>
			</li>
		</ul>
	</div>

	<div class="flex justify-center items-center">
		<ul class="flex flex-row gap-5 text-light-title">
			<li>
				<a class="hover:text-light-brown" href="#">
					<span class="material-symbols-outlined">
						search
					</span>
				</a>
			</li>
			<li>
				<a class="hover:text-light-brown <%= currentHeaderTab ? (currentHeaderTab === 'cart' ? 'text-brown' : '') : '' %>" href="/shopping-cart">
					<span class="material-symbols-outlined">
						shopping_cart
					</span>
				</a>
			</li>
			<li>
				<a class="hover:text-light-brown <%= currentHeaderTab ? (currentHeaderTab === 'profile' ? 'text-brown' : '') : '' %>" href="/clients/id">
					<span class="material-symbols-outlined">
						person
					</span>
				</a>
			</li>
			<li>
				<a class="text-orange hover:text-dark-orange" href="/admin">
					<span class="material-symbols-outlined">
					manage_accounts
					</span>
				</a>
			</li>
		</ul>
	</div>
</header>
