<form class="flex flex-col w-full gap-10 mt-9 mb-15 px-32" id="address-form">
    <div class="flex flex-col gap-5"></div>
          <h1 class="font-semibold text-[20px]"><%= title %></h1>
          <div class="flex flex-col gap-10" id="addresses">
                <div class="flex flex-col gap-2.5 justify-start" id="address">
                     <div class="flex flex-row gap-10">
                          <label class="flex flex-col text-[12px] gap-3 w-full">
                                Frase Curta *
                                <input placeholder="Ex: Minha Casa" class="border rounded-[5px] border-gray h-10 p-2.5" type="text"
                                     name="address-short-phrase" value="<%= address?.shortPhrase || '' %>" required>
                          </label>
                          <label class="flex flex-col text-[12px] gap-3 w-full">
                                CEP *
                                <input placeholder="XXXXX-XXX" class="border rounded-[5px] border-gray h-10 p-2.5" type="text"
                                     name="address-cep" value="<%= address?.formattedZipCode || '' %>" required>
                          </label>
                          <label class="flex flex-col text-[12px] gap-3 w-full">
                                Estado *
                                <select name="address-state" class="border rounded-[5px] border-gray h-10 p-2.5" required>
                                     <option value="">Selecione...</option>
                                     <% (states || []).forEach(state => { %>
                                          <option value="<%= state %>" <%= address?.state === state ? 'selected' : '' %>><%= state %></option>
                                     <% }) %>
                                </select>
                          </label>
                          <label class="flex flex-col text-[12px] gap-3 w-full">
                                Cidade *
                                <input placeholder="Ex: Guararema, Biritiba" class="border rounded-[5px] border-gray h-10 p-2.5"
                                     type="text" name="address-city" value="<%= address?.city || '' %>" required>
                          </label>
                     </div>

                     <div class="flex flex-row gap-10">
                          <label class="flex flex-col text-[12px] gap-3 w-full">
                                Tipo Logradouro *
                                <select name="address-street-type" class="border rounded-[5px] border-gray h-10 p-2.5" required>
                                    <option value="">Selecione...</option>
                                    <option value="Rodovia" <%= address?.streetType === 'Rodovia' ? 'selected' : '' %>>Rodovia</option>
                                    <option value="Rua" <%= address?.streetType === 'Rua' ? 'selected' : '' %>>Rua</option>
                                    <option value="Avenida" <%= address?.streetType === 'Avenida' ? 'selected' : '' %>>Avenida</option>
                                    <option value="Beco" <%= address?.streetType === 'Beco' ? 'selected' : '' %>>Beco</option>
                                </select>
                          </label>
                          <label class="flex flex-col text-[12px] gap-3 w-full">
                                Logradouro *
                                <input placeholder="Ex: Rua Almirante Barbosa" class="border rounded-[5px] border-gray h-10 p-2.5"
                                     type="text" name="address-street-name" value="<%= address?.streetName || '' %>" required>
                          </label>
                          <label class="flex flex-col text-[12px] gap-3 w-full">
                                Número *
                                <input class="border rounded-[5px] border-gray h-10 p-2.5" type="text" name="address-number" 
                                     value="<%= address?.number || '' %>" maxlength="4" required>
                          </label>
                     </div>

                     <div class="flex flex-row gap-10">
                          <label class="flex flex-col text-[12px] gap-3 w-full">
                                Bairro *
                                <input placeholder="Ex: Centro" class="border rounded-[5px] border-gray h-10 p-2.5" type="text"
                                     name="address-neighborhood" value="<%= address?.neighborhood || '' %>" required>
                          </label>
                          <label class="flex flex-col text-[12px] gap-3 w-full">
                                Complemento *
                                <select name="address-residence-type" class="border rounded-[5px] border-gray h-10 p-2.5" required>
                                    <option value="">Selecione...</option>
                                    <option value="Casa" <%= address?.residenceType === 'Casa' ? 'selected' : '' %>>Casa</option>
                                    <option value="Apartamento" <%= address?.residenceType === 'Apartamento' ? 'selected' : '' %>>Apartamento</option>
                                </select>
                          </label>
                          <label class="flex flex-col text-[12px] gap-3 w-full">
                                Tipo de Endereço *
                                <select name="address-type" class="border rounded-[5px] border-gray h-10 p-2.5" required>
                                    <option value="">Selecione...</option>
                                    <option value="DELIVERY" <%= address?.type === 'DELIVERY' ? 'selected' : '' %>>Entrega</option>
                                    <option value="BILLING" <%= address?.type === 'BILLING' ? 'selected' : '' %>>Cobrança</option>
                                    <option value="DELIVERY_AND_BILLING" <%= address?.type === 'DELIVERY_AND_BILLING' ? 'selected' : '' %>>Entrega e Cobrança
                                </select>
                          </label>
                     </div>
                     <div class="flex flex-row gap-10">
                          <label class="flex flex-col text-[12px] gap-3 w-full">
                            Observações
                            <input placeholder="Ex: Apartamento 101, interfone 123" class="border rounded-[5px] border-gray h-10 p-2.5" type="text"
                                 name="address-observation" value="<%= address?.observation || '' %>">
                          </label>  
                     </div>
                </div>
          </div>

          <div class="flex flex-row justify-between items-center mt-2">
                <% if (!isAdmin) { %>
                     <a href="/addresses" class="font-semibold text-sm bg-brown text-white rounded hover:bg-dark-brown w-[150px] h-10 flex items-center justify-center">
                     Voltar
                     </a>
                <% } %>
                <div class="flex flex-1 justify-end">
                     <button type="submit" class="font-medium text-sm text-white bg-light-green w-[150px] h-10 rounded-[5px] cursor-pointer hover:bg-dark-green flex items-center justify-center">
                          <%= address ? 'Atualizar' : 'Salvar' %>
                     </button>
                </div>
          </div>
     </div>
</form>
<script src="/scripts/handleSubmit.mjs"></script>