<form class="flex flex-col w-full gap-10 mt-9 mb-15 px-32" id="client-register-form">
	<div class="flex flex-col gap-4">
		<div class="flex items-center gap-3">
			<h1 class="font-semibold text-[20px]">Pedido #<%= order.id.toString().substring(0, 8) %>
			</h1>
            <span class="<%= 
                order.orderStatus === 'Em processamento' ? 'bg-orange' :
                order.orderStatus === 'Em trânsito' ? 'bg-orange' :
                order.orderStatus === 'Entregue' ? 'bg-dark-green' :
                order.orderStatus === 'Em troca' ? 'bg-yellow-500' :
                'bg-gray-500'
            %> text-white px-2 py-0.5 rounded-full text-xs">
                <%= order.orderStatus %>
            </span>
		</div>

		<div class="flex justify-between">
			<!-- LADO ESQUERDO-->
			<div class="flex flex-col w-1/2 gap-5 mr-10 mt-4">
				<!---BEGIN: valores-->
				<div class="flex flex-col gap-4">
					<h1 class="font-bold text-[18px] text-brown">Valores</h1>
					<div class="flex justify-between">
						<h2 class="text-gray-dark [12px]">Subtotal de itens:</h2>
						<p class="font-semibold">R$ <%= order.itemSubTotal %>
						</p>
					</div>
					<div class="flex justify-between">
						<h2 class="text-gray-dark [12px]">Frete:</h2>
						<p class="font-semibold">R$ <%= order.freight.value %>
						</p>
					</div>
					<div class="flex justify-between">
						<h2 class="text-gray-dark [12px]">Descontos de cupons:</h2>
						<p class="text-light-green">- R$ <%= order.discount %>
						</p>
					</div>
					<div class="flex justify-between border-t border-gray pt-2">
						<h2 class="font-semibold text-[16px] text-brown">Total:</h2>
						<p class="font-semibold text-[16px]">R$ <%= order.finalTotal %>
						</p>
					</div>
				</div>

				<!---END: valores-->
				<!---BEGIN: detalhes(endereço e cartao)-->
				<div class="flex flex-col gap-4 mt-5">
					<h1 class="font-bold text-[18px] text-brown">Detalhes da Compra</h1>
					<div class="flex flex-col gap-4 mt-5">
						<!-- Endereço de Entrega -->
						<div class="flex flex-col gap-2 p-4 bg-gray-50 rounded-lg border border-gray-200">
							<h2 class="font-semibold text-gray-dark text-[14px] flex items-center gap-2">
								<span class="material-symbols-outlined text-brown text-[20px]">location_on</span>
								Endereço de Entrega
							</h2>
							<p class="text-brown font-medium text-[14px] ml-7">
								<%= order.delivery.addressId.shortPhrase %>
							</p>
						</div>

						<!-- Cartões de Pagamento -->
						<div class="flex flex-col gap-2 p-4 bg-gray-50 rounded-lg border border-gray-200">
							<h2 class="font-semibold text-gray-dark text-[14px] flex items-center gap-2 mb-2">
								<span class="material-symbols-outlined text-brown text-[20px]">credit_card</span>
								Cartões usados no pagamento
							</h2>
							<div class="flex flex-col gap-2 ml-7">
								<% for (const card of order.payment.paymentCard) { %>
									<div class="flex items-center gap-2 bg-white px-3 py-2 rounded-md w-fit">
										<span class="material-symbols-outlined text-brown text-[18px]">check_circle</span>
										<span class="font-medium text-brown text-[13px]">
											<%= card.cardFlag %>
										</span>
										<span class="text-gray-500 text-[13px] font-mono">**** **** **** <%= card.cardNumber.slice(-4) %>
												</span>
									</div>
									<% } %>
							</div>
						</div>
					</div>
				</div>
				<!---END: detalhes(endereço e cartao)-->
			</div>
			<!-- LADO DIREITO-->
			<div class="flex flex-col gap-2 w-1/2">
				<h1 class="font-bold text-[18px] text-brown mb-4">Itens do Pedido</h1>
				<div class="flex flex-col gap-4">
					<% books.forEach(function(book, index) { %>
						<div class="flex gap-4">
							<img src="<%= book.coverPath %>" alt="Capa do livro <%= book.name %>"
								class="w-16 h-20 object-cover rounded">
							<div class="flex flex-col justify-between">
								<h2 class="font-semibold text-[14px]">
									<%= book.name %>
								</h2>
								<div class="flex items-center justify-between gap-15">
									<p class="text-gray-dark text-[12px]" id="book-quantity-<%= book.id %>">Quantidade: <%= order.items[index].quantity %>
									</p>
									<p class="font-semibold text-brown text-[14px]" id="book-price-<%= book.id %>">
										<%= book.formattedPrice || `R$ ${book.price.toFixed(2).replace('.', ',' )}` %>
									</p>
								</div>
							</div>
						</div>
						<% }); %>
				</div>
			</div>
		</div>
		<div class="flex flex-row justify-between items-center mt-4">
			<a href="<%= isAdmin ? '/admin/orders' : '/orders' %>"
				class="font-semibold text-sm bg-brown text-white rounded hover:bg-dark-brown w-[150px] h-10 flex items-center justify-center">
				Voltar
			</a>

            <!---- PEDIDO DE TROCA CLIENTE-->
			<% if (!isAdmin && order.orderStatus === 'Entregue') { %>
				<button id="exchange-btn" type="button"
					class="font-semibold text-sm bg-orange text-white rounded hover:bg-dark-orange w-[150px] h-10 flex items-center justify-center">
                    Pedir Troca
                </button>
            <% } %>

            <!---- MUDANÇA DE STATUS PELO ADMIN-->
            <% if (isAdmin) { %>
                <% if (order.orderStatus === 'Em processamento') { %>
                    <button 
                        class="changeStatus font-semibold text-sm bg-light-brown text-white rounded hover:bg-light-title w-[150px] h-10 flex items-center justify-center"
                        data-order-id="<%= order.id %>"
                        data-status="IN_TRANSIT"
                    >
                        Solicitar Entrega
                    </button>
                <% } %>

                <% if (order.orderStatus === 'Em trânsito') { %>
                    <button 
                        class="changeStatus font-semibold text-sm bg-dark-green text-white rounded hover:bg-green-700 w-[150px] h-10 flex items-center justify-center"
                        data-order-id="<%= order.id %>"
                        data-status="DELIVERED"
                    >
                        Confirmar Entrega
                    </button>
                <% } %>

                <% if (order.orderStatus === 'Em troca') { %>
                    <button 
                        class="confirmExchange font-semibold text-sm bg-yellow-500 text-white rounded hover:bg-yellow-700 w-[150px] h-10 flex items-center justify-center"
                        data-order-id="<%= order.id %>"
                        data-status="EXCHANGED"
                    >
                        Confirmar Troca
                    </button>
                <% } %>
            <% } %>
        </div>
    </div>
</form>

<%- include('exchangeModal', { books: books, order: order }) %>
<script src="/scripts/order/exchangeHandler.js" type="module"></script>
<script src="/scripts/order/changeOrderStatus.js" type="module"></script>
<script src="/scripts/order/confirmExchange.js" type="module"></script>
